/* purple : 8247FF
orange : FE8162
black : 1C1C1C */
body{
    background-color: #FDF2EC;
    align-items: center;
}

h1{
    font-family: "Outfit", sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 650;
    letter-spacing: -2px;
    line-height: 1em;
    /* paragraph-spacing: 40px; */
    text-align: center;
    color: #1C1C1C;
    text-decoration: none;
    text-transform: none;
}
nav {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav img {
    flex: 0 0 auto;
    margin-right: auto;
    height: 50px;
}

a, button {
    flex: 0 0 auto;
    margin-left: 10px;
}

.emoji {
    color: #8247FF;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    border: 2px solid #8247FF;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); /* Adjust the second value to control the vertical position */
    margin-bottom: 20px; /* Add space below the element */
}

.one img {
    align-items: center;
    width: 80%;
    border-radius: 25px;
}

.one button {
    border-radius: 10px;
    width: fit-content;
    height: auto;
    padding: 10px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    padding: 40px;
    margin: 90px;

}

h2{
    font-family: "Outfit", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 350;
    letter-spacing: -2px;
    line-height: 1em;
    /* paragraph-spacing: 40px; */
    text-align: center;
    color: #767575;
    text-decoration: none;
    text-transform: none;

}